.app{
    background-color: #f3f2ef;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    align-items: center;
}

.app__body{
    display: flex;
    /* justify-content: space-evenly; */
    margin-top: 15px;
}